{% extends "base.html" %}

{% block content %}
<h1>游泳比賽查詢</h1>
<form action="{{ url_for('query') }}" method="post">
    <div class="form-group">
        <label for="competition_name">賽會名稱:</label>
        <input type="text" name="competition_name" id="competition_name" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="name">姓名:</label>
        <input type="text" name="name" id="name" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="event_number">項次:</label>
        <input type="text" name="event_number" id="event_number" class="form-control">
    </div>
    <div class="form-group">
        <label for="unit_name">單位名稱:</label>
        <input type="text" name="unit_name" id="unit_name" class="form-control">
    </div>
    <div class="form-group">
        <label for="competition_event">比賽項目:</label>
        <input type="text" name="competition_event" id="competition_event" class="form-control">
    </div>
    <div class="form-group">
        <label for="competition_category">賽別:</label>
        <input type="text" name="competition_category" id="competition_category" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">查詢</button>
</form>
{% endblock %}
